<article ng-model = "read">
	<div class="form-group">
		<label for="placa">Placa</label><br>
		<span>{{read.placa}}</span>
	</div>

	<div class="form-group">
		<label for="modelo">Modelo</label><br>
		<span>{{read.modelo}}</span>
	</div>
	<div class="form-group">
		<label for="marca">Marca</label><br>
		<span>{{read.marca}}</span>
	</div>
	<div class="form-group">
		<label for="combustivel">Combustivel</label><br>
		<span>{{read.combustivel}}</span>
	</div>

	<button ng-click="toggleModal()" class="btn btn-success">Fechar</button>

</article>